# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.history

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

packages/onekjs-icons/es/
packages/onekjs-site/docs/.vitepress/
packages/onekjs-site/docs/components/
pnpm-lock.yaml
packages/onekjs-icons/src/components/
packages/onekjs-icons/index.js
packages/onekjs-icons/load.js
packages/onekjs-icons/icon-list-json.json
packages/onekjs-icons/src/icons-sprites.js
packages/onekjs-icons/src/load.js
packages/onekjs-demo-block/es/
packages/onekjs-site/docs/.vitepress/cache/
