@import '../../../style/index.less';

.o-button {
  display: inline-flex;
  align-items: center;
  box-shadow: none;
  cursor: pointer;
  font-size: @font-size-1;
  border: none;
  border-radius: @border-radius-medium;
  &--default {
    color: @color-text-3;
    background-color: @default;
    &:hover {
      background-color: @default-hover;
    }
    &:active {
      background-color: @default-active;
    }

    &--plain {
      border: @border-1 solid;
      border-color: @default;
      background-color: @white;
    }
  }

  &--primary {
    color: #fff;
    background-color: @primary;
    &:hover {
      background-color: @primary-hover;
    }
    &:active {
      background-color: @primary-active;
    }

    &--plain {
      border: @border-1 solid;
      border-color: @primary;
      color: @primary;
      background-color: @white;
    }
  }

  &--warning {
    color: #fff;
    background-color: @warning;
   
    &:hover {
      background-color: @warning-hover;
    }
    &:active {
      background-color: @warning-active;
    }
    &--plain {
      border: @border-1 solid;
      border-color: @warning;
      color: @warning;
      background-color: @white;
    }
  }

  &--danger {
    color: #fff;
    background-color: @danger;
    &:hover {
      background-color: @danger-hover;
    }
    &:active {
      background-color: @danger-active;
    }
    &--plain {
      border-color: @danger;
      border: @border-1 solid;
      color: @danger;
      background-color: @white;
    }
  }

  &--mini {
    padding: 8px 8px;
  }

  &--small {
    padding: 10px 20px;
  }

  &--normal {
    padding: 12px 24px;
  }

  &--large {
    padding: 14px 28px;
  }
}