@font-face {
  font-family: "iconfont"; /* Project id 4123295 */
  src: url('iconfont.woff2?t=1686903617780') format('woff2'),
       url('iconfont.woff?t=1686903617780') format('woff'),
       url('iconfont.ttf?t=1686903617780') format('truetype'),
       url('iconfont.svg?t=1686903617780#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-upload:before {
  content: "\e6f6";
}

.icon-left-double:before {
  content: "\e6f7";
}

.icon-right-double:before {
  content: "\e6f8";
}

.icon-left:before {
  content: "\e6f9";
}

.icon-right:before {
  content: "\e6fa";
}

.icon-down:before {
  content: "\e6fb";
}

.icon-up:before {
  content: "\e6fc";
}

.icon-ok:before {
  content: "\e6fd";
}

.icon-search:before {
  content: "\e6fe";
}

.icon-edit-block-ring:before {
  content: "\e6ff";
}

.icon-download:before {
  content: "\e700";
}

.icon-close:before {
  content: "\e701";
}

.icon-plus:before {
  content: "\e702";
}

.icon-loading:before {
  content: "\e703";
}

.icon-eye-block:before {
  content: "\e704";
}

.icon-close-eye-block:before {
  content: "\e705";
}

.icon-up-block:before {
  content: "\e706";
}

.icon-left-block:before {
  content: "\e707";
}

.icon-upload-ring:before {
  content: "\e708";
}

.icon-position:before {
  content: "\e709";
}

.icon-ok-ring:before {
  content: "\e70a";
}

.icon-close-eye:before {
  content: "\e70b";
}

.icon-download-ring:before {
  content: "\e70c";
}

.icon-exclamation-point-ring:before {
  content: "\e70d";
}

.icon-info-ring:before {
  content: "\e70e";
}

.icon-eye:before {
  content: "\e70f";
}

.icon-close-ring:before {
  content: "\e710";
}

.icon-question-mark-ring:before {
  content: "\e711";
}

.icon-down-block:before {
  content: "\e712";
}

.icon-classify-block:before {
  content: "\e713";
}

.icon-right-block:before {
  content: "\e714";
}

.icon-position-block:before {
  content: "\e715";
}

.icon-page-block:before {
  content: "\e716";
}

.icon-copy-block:before {
  content: "\e717";
}

.icon-question-mark-block:before {
  content: "\e718";
}

.icon-copy-ring:before {
  content: "\e719";
}

.icon-info-block:before {
  content: "\e71a";
}

.icon-exclamation-point-block:before {
  content: "\e71b";
}

.icon-close-block:before {
  content: "\e71c";
}

.icon-ok-block:before {
  content: "\e71d";
}

.icon-fallback:before {
  content: "\e71e";
}

.icon-callback:before {
  content: "\e71f";
}

.icon-seave-ring:before {
  content: "\e720";
}

.icon-drawing-board-block:before {
  content: "\e721";
}

.icon-origin-array:before {
  content: "\e722";
}

.icon-seave:before {
  content: "\e723";
}

.icon-filtrate:before {
  content: "\e724";
}

.icon-component:before {
  content: "\e725";
}

.icon-drawing-board:before {
  content: "\e726";
}

.icon-switch:before {
  content: "\e727";
}

.icon-share:before {
  content: "\e728";
}

.icon-batch-choice:before {
  content: "\e729";
}

.icon-batch-choice-block:before {
  content: "\e72a";
}

.icon-code:before {
  content: "\e72b";
}

.icon-switch-right-double:before {
  content: "\e72c";
}

.icon-sort:before {
  content: "\e72d";
}

.icon-switch-left:before {
  content: "\e72e";
}

.icon-switch-left-double:before {
  content: "\e72f";
}

.icon-gohome:before {
  content: "\e730";
}

.icon-edit:before {
  content: "\e731";
}

.icon-classify:before {
  content: "\e732";
}

.icon-switch-right:before {
  content: "\e733";
}

.icon-page:before {
  content: "\e734";
}

.icon-pc:before {
  content: "\e735";
}

.icon-mobile:before {
  content: "\e736";
}

.icon-image-block:before {
  content: "\e737";
}

.icon-image:before {
  content: "\e738";
}

.icon-minus:before {
  content: "\e739";
}

.icon-user:before {
  content: "\e73a";
}

.icon-user-ring-block:before {
  content: "\e73b";
}

.icon-user-block:before {
  content: "\e73c";
}

.icon-full-seen:before {
  content: "\e73d";
}

.icon-switch-down:before {
  content: "\e73e";
}

.icon-switch-up-r:before {
  content: "\e73f";
}

.icon-message-block-point:before {
  content: "\e740";
}

.icon-message-black:before {
  content: "\e741";
}

.icon-message-point:before {
  content: "\e742";
}

.icon-switch-up:before {
  content: "\e743";
}

.icon-message:before {
  content: "\e744";
}

.icon-share-other-block:before {
  content: "\e745";
}

.icon-switch-down-r:before {
  content: "\e746";
}

.icon-notice-block:before {
  content: "\e747";
}

.icon-copy:before {
  content: "\e748";
}

.icon-add:before {
  content: "\e749";
}

.icon-sort-up:before {
  content: "\e74a";
}

.icon-share-other:before {
  content: "\e74b";
}

.icon-sort-down:before {
  content: "\e74c";
}

.icon-upload-cloud:before {
  content: "\e74d";
}

.icon-notice:before {
  content: "\e74e";
}

.icon-folder:before {
  content: "\e74f";
}

.icon-folder-block:before {
  content: "\e750";
}

.icon-delete:before {
  content: "\e751";
}

.icon-delete-block:before {
  content: "\e752";
}

.icon-set-block:before {
  content: "\e753";
}

.icon-set:before {
  content: "\e754";
}

.icon-service-block:before {
  content: "\e755";
}

.icon-service:before {
  content: "\e756";
}

.icon-I:before {
  content: "\e757";
}

.icon-U:before {
  content: "\e758";
}

.icon-B:before {
  content: "\e759";
}

.icon-order-block:before {
  content: "\e75a";
}

.icon-letter:before {
  content: "\e75b";
}

.icon-color-block:before {
  content: "\e75c";
}

.icon-letter-block:before {
  content: "\e75d";
}

.icon-pen:before {
  content: "\e75e";
}

.icon-group-block:before {
  content: "\e75f";
}

.icon-crown-block:before {
  content: "\e760";
}

.icon-link:before {
  content: "\e761";
}

.icon-exchange:before {
  content: "\e762";
}

.icon-lock-open-block:before {
  content: "\e763";
}

.icon-lock-block:before {
  content: "\e764";
}

.icon-lock-open:before {
  content: "\e765";
}

.icon-lock:before {
  content: "\e766";
}

.icon-book-block:before {
  content: "\e767";
}

.icon-book:before {
  content: "\e768";
}

.icon-order:before {
  content: "\e769";
}

.icon-txt-block:before {
  content: "\e76a";
}

.icon-word-block:before {
  content: "\e76b";
}

.icon-txt:before {
  content: "\e76c";
}

.icon-excel-block:before {
  content: "\e76d";
}

.icon-word:before {
  content: "\e76e";
}

.icon-excel:before {
  content: "\e76f";
}

.icon-point:before {
  content: "\e770";
}

.icon-roller:before {
  content: "\e771";
}

.icon-A:before {
  content: "\e772";
}

.icon-eraser:before {
  content: "\e773";
}

.icon-S:before {
  content: "\e774";
}

.icon-barrel-block:before {
  content: "\e775";
}

.icon-barrel:before {
  content: "\e776";
}

.icon-bookmark-block:before {
  content: "\e777";
}

.icon-bookmark:before {
  content: "\e778";
}

.icon-contraction:before {
  content: "\e779";
}

.icon-stretch:before {
  content: "\e77a";
}

.icon-correlation:before {
  content: "\e77b";
}

.icon-expansion:before {
  content: "\e77c";
}

.icon-put-away:before {
  content: "\e77d";
}

.icon-roller-block:before {
  content: "\e77e";
}

.icon-gear-block:before {
  content: "\e77f";
}

.icon-gear:before {
  content: "\e780";
}

.icon-feed:before {
  content: "\e781";
}

.icon-home-block:before {
  content: "\e782";
}

.icon-home:before {
  content: "\e783";
}

.icon-group:before {
  content: "\e784";
}

.icon-drawing-board1:before {
  content: "\e785";
}

