:root {

  --white: rgb(250, 250, 250);

  --gray-1: rgb(242, 243, 245);
  --gray-2: rgb(229, 230, 235);
  --gray-3: rgb(201, 205, 212);
  --gray-4: rgb(173, 179, 187);
  --gray-5: rgb(141, 150, 159);
  --gray-6: rgb(116, 127, 139);
  --gray-7: rgb(93, 104, 116);
  --gray-8: rgb(71, 82, 94);
  --gray-9: rgb(48, 59, 71);
  --gray-10: rgb(25, 36, 48);

  --yellow-1: rgb(255, 253, 236);
  --yellow-2: rgb(255, 250, 204);
  --yellow-3: rgb(255, 247, 171);
  --yellow-4: rgb(255, 244, 139);
  --yellow-5: rgb(255, 241, 107);
  --yellow-6: rgb(255, 238, 74);
  --yellow-7: rgb(255, 235, 42);
  --yellow-8: rgb(230, 210, 30);
  --yellow-9: rgb(204, 185, 17);
  --yellow-10: rgb(179, 160, 5);

  --blue-1: rgb(204, 229, 255);
  --blue-2: rgb(153, 204, 255);
  --blue-3: rgb(102, 178, 255);
  --blue-4: rgb(51, 153, 255);
  --blue-5: rgb(0, 128, 255);
  --blue-6: rgb(0, 102, 204);
  --blue-7: rgb(0, 76, 153);
  --blue-8: rgb(0, 51, 102);
  --blue-9: rgb(0, 25, 51);
  --blue-10: rgb(0, 0, 0);

  --orange-1: rgb(255, 245, 235);
  --orange-2: rgb(255, 230, 204);
  --orange-3: rgb(255, 214, 170);
  --orange-4: rgb(255, 197, 136);
  --orange-5: rgb(255, 181, 102);
  --orange-6: rgb(255, 164, 68);
  --orange-7: rgb(255, 148, 34);
  --orange-8: rgb(221, 127, 23);
  --orange-9: rgb(187, 106, 13);
  --orange-10: rgb(153, 85, 3);

  --green-1: rgb(217, 242, 223);
  --green-2: rgb(191, 229, 201);
  --green-3: rgb(165, 216, 179);
  --green-4: rgb(139, 203, 157);
  --green-5: rgb(113, 190, 135);
  --green-6: rgb(87, 177, 113);
  --green-7: rgb(61, 164, 91);
  --green-8: rgb(35, 151, 69);
  --green-9: rgb(9, 138, 47);
  --green-10: rgb(0, 122, 40);

  --red-1: rgb(255, 236, 236);
  --red-2: rgb(255, 204, 204);
  --red-3: rgb(255, 171, 171);
  --red-4: rgb(255, 139, 139);
  --red-5: rgb(255, 107, 107);
  --red-6: rgb(255, 74, 74);
  --red-7: rgb(255, 42, 42);
  --red-8: rgb(230, 30, 30);
  --red-9: rgb(204, 17, 17);
  --red-10: rgb(179, 5, 5);

  --neutral-1: rgb(247, 248, 250);
  --neutral-2: rgb(245, 245, 245);
  --neutral-3: rgb(235, 237, 240);
  --neutral-4: rgb(238, 238, 238);
  --neutral-5: rgb(204, 204, 204);
  --neutral-6: rgb(153, 153, 153);
  --neutral-7: rgb(102, 102, 102);
  --neutral-8: rgb(34, 34, 34);
  --neutral-9: rgb(0, 0, 0);
  --neutral-10: rgb(255, 255, 255);

  --highlight-1: rgb(45, 166, 65);
  --highlight-2: rgb(102, 190, 116);
  --highlight-3: rgb(240, 250, 242);
  --highlight-4: rgb(212, 0, 0);
  --highlight-5: rgb(223, 69, 69);
  --highlight-6: rgb(255, 235, 235);
  --highlight-7: rgb(237, 106, 12);
  --highlight-8: rgb(241, 146, 78);
  --highlight-9: rgb(255, 245, 237);
}